

extends layout
block head
  title='Архив'
block content
  h1= 'Архив'
  table
    tr
      th Номер
      th Название проекта
      th Пользователь
      th Ссылка
      th Дата
      th Пометка
    
