extends layout
block head
  title='FL не отвеченное'
block content
  div(class='container')
    h1= title
    table(class="conversations-table table table-bordered table-condensed table-all")
      tr
        th Номер
        th Название проекта
        th Пользователь
        th Ссылка
        th Дата
        th Пометка
        th Новые сообщения
